<div style="max-width: 1350px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
	<b-navbar fixed="top" toggleable="sm" type="light" variant="info" style="max-width: 1350px;">

		<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		<b-navbar-brand href="#">
			<h3>
				<b>Ana</b>lyser</h3>
		</b-navbar-brand>

		<!-- <b-collapse is-nav id="nav_collapse"> -->

		<b-navbar-nav>
			<b-nav-item href="#" style="color: black">World Energy Data Outlook 2018</b-nav-item>
			<!-- <b-nav-item href="#">Link 2</b-nav-item> -->
		</b-navbar-nav>

		<!-- Right aligned nav items -->
		<b-navbar-nav class="ml-auto">
			<b-nav-item>DOWNLOAD DATA</b-nav-item>
			<!-- <b-nav-item>|</b-nav-item> -->
			<b-nav-item>PREVIOUS EDITIONS</b-nav-item>
			<!-- <b-nav-item>|</b-nav-item> -->
			<b-nav-item>SOURCES</b-nav-item>
			<!-- <b-nav-form> -->
			<!-- <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/> -->
			<!-- <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
			<!-- </b-nav-form> -->

			<!-- <b-nav-item-dropdown text="Lang" right>
			  <b-dropdown-item href="#">EN</b-dropdown-item>
			  <b-dropdown-item href="#">ES</b-dropdown-item>
			  <b-dropdown-item href="#">RU</b-dropdown-item>
			  <b-dropdown-item href="#">FA</b-dropdown-item>
			</b-nav-item-dropdown> -->

			<!-- <b-nav-item-dropdown right>
			  Using button-content slot
			  <template slot="button-content">
				<em>User</em>
			  </template>
			  <b-dropdown-item href="#">Profile</b-dropdown-item>
			  <b-dropdown-item href="#">Signout</b-dropdown-item>
			</b-nav-item-dropdown> -->
		</b-navbar-nav>

		<!-- </b-collapse> -->
	</b-navbar>
	<b-nav justified pills style="padding-top: 65px; margin-left: 00px; margin-right: 00px; max-width: 1350px">
		<b-nav-item v-bind:class="{'menu1-active': energyBool}" href="/total-energy/production">
			<img src="../../assets/img/energy/green-energy (7).png" height="50">
			<figcaption class="font-color">Total Energy</figcaption>
			</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': crudeBool}" href="/crude-oil">
			<img src="../../assets/img/energy/oil-platform (3).png" height="50">
			<figcaption class="font-color">Crude Oil</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': oilBool}" href="/oil-products">
			<img src="../../assets/img/energy/gasoline-pump (4).png" height="50">
			<figcaption class="font-color">Oil Products</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': gasBool}" href="/natural-gas">
			<img src="../../assets/img/energy/fire (2).png" height="50">
			<figcaption class="font-color">Natural Gas</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': coalBool}" href="/coal">
			<img src="../../assets/img/energy/coal.png" height="50">
			<figcaption class="font-color">Coal</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': electricityBool}" href="/electricity">
			<img src="../../assets/img/energy/power-cord.png" height="50">
			<figcaption class="font-color">Electricity</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': renewablesBool}" href="/renewables">
			<img src="../../assets/img/energy/sun-energy (3).png" height="50">
			<figcaption class="font-color">Renewables</figcaption>
		</b-nav-item>
		<b-nav-item class="menu1-inactive" v-bind:class="{'menu1-active': CO2Bool}" href="/CO2">
			<img src="../../assets/img/energy/co2.png" height="50">
			<figcaption class="font-color">CO2 Fuel</figcaption>
		</b-nav-item>
	</b-nav>

	<b-nav justified pills style="margin-left: 450px; margin-right:450px; margin-top: 0px;">
		<b-nav-item href="/total-energy/production">
			<h6 style="color: black">PRODUCTION</h6>
		</b-nav-item>
		<b-nav-item>|</b-nav-item>
		<b-nav-item href="/total-energy/trade">
			<h6 style="color: black">TRADE</h6>
		</b-nav-item>
		<b-nav-item>|</b-nav-item>
		<b-nav-item>
			<h6 style="color: black">
				<font>CONSUMPTION</font>
			</h6>
		</b-nav-item>
		</b-nav-item>
	</b-nav>
</div>