<!-- <script src="../../assets/map/ammap/ammap.js" type="text/javascript"></script> -->
<!-- <link rel="stylesheet" href="../../assets/map/ammap/ammap.css" type="text/css" media="all" /> -->
<!-- <script src="../../assets/map/ammap/maps/js/worldLow.js" type="text/javascript"></script> -->
<div style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <img src="../../assets/img/energy/total.jpg" height="300px" width="1349px">
    <div class="totimg" style="padding-top: 5px;">

        <div class="centre-left">

            <h1 style="text-align: left">
                <img src="../../assets/img/energy/green-energy (4).png"> Total energy production
                <br>
                <h6 style="padding-left: 77px; padding-top: 2px">
                    World energy production rebounded in 2017 (2.4%), above it's historic trend
                </h6>
            </h1>
        </div>
    </div>


    <!-- <div style="border: 1px solid black;">
        <h3 style="padding-top: 5px">
            <img src="../../assets/img/energy/left-arrow (3).png"> Breakdown by Country</h3>
    </div> -->
    <hr>
    <div>
        <h2 style="color:#224952; padding-left: 50px">Breakdown by country :</h2>
    </div>
    <hr>
    <div style="width: 100%">
        <div id="mapdiv" style="width: 50%; height: 350px; padding-top: 20px; float:left"></div>
        <!-- <div style="width: 50%; float:left"> -->
        <!-- <apexcharts style="float: left" width="600" type="bar" :options="options1" :series="series1"></apexcharts> -->
        <div style="width: 50%; float:right">
            <apexcharts style="float: left;" width="650" type="bar" :options="options1" :series="series1"></apexcharts>
        </div>
        <!-- </div> -->
    </div>
    <div style="width: 90%">

        <div style="width: 50%; float:left; padding-top: 50px;padding-left: 10%">
            <apexcharts style="float: left" width="450" type="donut" :options="options2" :series="series2"></apexcharts>
        </div>
        <div>
            <h6 style="width: 40%; float: right">
                <h3 style="color: #4A9DB0">World energy production rebounded in 2017 (2.4%), above its historical trend</h3>
                China was the main contributor to the increase in global energy production, as its coal output grew for the first time after
                three years of reduction. Higher global energy prices spurred oil and gas production in the United States,
                after the 2016 drop. Energy production continued to decline in the European Union, owing to the moderate
                growth in energy consumption, lower primary electricity production (nuclear and hydro) the depletion of oil
                and gas resources and the climate policy that eventually implies the exit of coal. Large oil and gas exporting
                countries (Russia, Iran after the end of international sanctions, Canada or Nigeria to a lesser extent) as
                well as the fast-developing countries (India, Indonesia, Turkey and Brazil) have been the main contributors
                to the energy production increase in 2017. Conversely, Saudi Arabia's energy production was affected by the
                OPEC production cut agreement</h6>
        </div>
    </div>
    
    <div style="width: 100%">
        <div style="width: 50%; float:right; padding-top: 150px">
            <apexcharts style="float: left" width="640" type="bar" :options="options3" :series="series3"></apexcharts>
        </div>
        <div>
            <h6 style="width: 45%; float: left; margin-left: 15px">
                <h3 style="color:#224952;"><h2 style="width: 100%;"><hr><b>International Trends :</b><hr></h2>
                    Crude oil production remained stable in 2017 (0.1%)
                </h3>The 30 November 2016 agreement between OPEC countries and some large non-OPEC producers to cut oil production
                to firm up global prices translated into significant production cuts for Saudi Arabia, Kuwait, the UAE or
                Algeria, and to a stable production in Russia. The agreement succeeded in raising global oil prices, which
                incited non-OPEC countries such as the United States, Canada or Kazakhstan and OPEC countries exempted from
                cuts such as Iran or Nigeria to raise production. The Iranian oil production rose by 1/3 between 2015 and
                2017, thanks to the end of international sanctions. Conversely, crude oil production declined again in China
                to its lowest level since 2009, as low prices in 2016 prompted producers to cut investment in oil fields.
                Oil production in Latin America contracted for the third year in a row, due to falling production in some
                large producing countries – oil output reached its lowest level since 1980 in Mexico and since 1990 in Venezuela
                – but it continued to increase in Brazil.</h6>
        </div>
    </div>

</div>