<!-- <script src="../../assets/map/ammap/ammap.js" type="text/javascript"></script> -->
<!-- <link rel="stylesheet" href="../../assets/map/ammap/ammap.css" type="text/css" media="all" /> -->
<!-- <script src="../../assets/map/ammap/maps/js/worldLow.js" type="text/javascript"></script> -->
<div>
    <div style="border: 1px solid black;">
        <h3 style="padding-top: 5px">
            <img src="../../assets/img/energy/left-arrow (3).png"> Breakdown by Country</h3>
    </div>
    <div id="mapdiv" style="width: 750px; height: 350px; padding-top: 20px"></div>
    <div>
        <apexcharts width="500" type="bar" :options="options" :series="series"></apexcharts>
    </div>
</div>